/* Empty. Add your own CSS if you like */

.content {
  margin-bottom: 100px;
}

#fbLoginButton{

	position:absolute;
	left:20%;
	margin-top:20%;
	width:60%;
	font-size:18px;
	border-radius: 25px;
	
}

video {
  width: 100%;
  margin 10px;
}

respond {
	position:aboslute;
	left:20%;
}