<ion-content ng-controller"challengeCtrl">
  <ion-list ng-show="challenges">
    <div ng-repeat="challenge in challenges" ui-sref="response({{challenge}})">
      <!-- Challenge Header -->
      <div class="item item-divider">Title: {{challenge.title}}</div>
      <ion-item>
        <a ui-sref="responses" class="item item-thumbnail-left">
          <img src="{{challenge.img}}" alt="chall">
          <p>Description: {{challenge.description}}</p>
          <ul ng-show="challenge.friends.length > 0">
            <li ng-repeat="friend in challenge.friend"><img src="{{friend.profilePicture}}" /></li>
          </ul>
        </a>
      </ion-item>
    </div>
  </ion-list>
  <ion-card ng-show="challenges.length === 0">
    <ion-item class="item-text-wrap">
      Get started by creating a new challenge video!
    </ion-item>
  </ion-card>
</ion-content>