<ion-content ng-controller"responseCtrl">
  <ion-list ng-show="challenge">
    <!-- Challenge Header -->
    <div class="item item-divider">
     {{challenge.title}} 
     <button class="respond" ng-click="respond(challenge,response)">Respond</button>
    </div>
    <!-- Display Current Challenge -->
    <ion-item>
      <a class="item item-thumbnail-left" href="#">
        <!--<img src="{{challenge.img}}" alt="chall">-->
        <h2>Title: {{challenge.title}}</h2>
        <p>Description: {{challenge.description}}</p>
        <i class="icon ion-heart">{{challenge.likes}}</i>
      </a>
      <video src="{{getVideo(challenge.clip)}}" poster="{{challenge.img}}" controls></video>
    </ion-item>
    <!-- Responses divider -->
    <div class="item item-divider">Responses to {{challenge.title}}</div>
    
    <!-- Display responses -->
    <ion-item ng-repeat="response in responses">
      <a class="item item-thumbnail-left" href="#">
        <img src="http://placehold.it/50x50" alt="chall">
        <h2>{{response.title}}</h2>
        <p>{{response.description}}</p>
        <ul ng-show="challenge.friends.length > 0">
          <li ng-repeat="friend in challenge.friend"><img src="{{friend.profilePicture}}" /></li>
        </ul>
      </a>
    </ion-item>
  </ion-list>
  <ion-list ng-show="!challenge">
    No Responses
  </ion-list>
</ion-content>